.button-templet {
  display: block;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 16px 0;
  text-align: center;
}

@media (min-width: @desktop-width) {
  .button-templet {
    font-size: 21px;
  }
}
