.download {
  margin: 0 auto;
  width: 320px;
  min-height: 271px;
  padding-top: 28px;
  background-color: @bluish-dark;
  padding-bottom: 28px;
  position: relative;
}

.download__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.download__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 205px;
  margin: 0 auto 16px;
}

.download__button {
  border: 3px @white solid;
  color: @white;
  margin-bottom: 30px;
}

.download__button:hover {
  color: @pink;
  background-color: @white;
}

.download__button:active {
  color: @pink-opacity;
}

.download__text {
  color: @white;
  text-align: center;
  font-weight: 300;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: @tablet-width) {
  .download {
    width: @tablet-width;
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
  }

  .download__wrapper {
    position: absolute;
    display: block;
    top: -352px;
    right: 340px;
    width: 300px;
  }

  .download__wrapper--up {
    top: -351px;
    left: 20px;
  }

  .download__button {
    margin-bottom: 45px;
  }

  .download__list {
    margin-bottom: 31px;
  }

  .download__text {
    max-width: 300px;
    font-size: 18px;
  }
}
@media (min-width: @desktop-width) {
  .download {
    width: @desktop-width;
  }

  .download__wrapper {
    top: -400px;
    left: 120px;
  }

  .download__wrapper--up {
    top: -404px;
    left: -300px;
  }

  .download__button {
    margin-bottom: 65px;
  }

  .download__list {
    margin-bottom: 51px;
  }
}
/* additional js styles */

.download--padding-reset {
  padding-top: 0;
}

.download__wrapper--tablet {
  top: -250px;
}

.download--padding-update {
  padding-top: 28px;
}
