.main-nav {
  a {
    color: @white;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
  }

  a:hover {
    color: @pink;
  }

  a:active {
    color: @pink-opacity;
  }
}

.main-nav__list {
  .list-reset();
  display: block;
  position: relative;
}

.main-nav__list--disable {
  display: none;
}

.main-nav__list--show {
  width: 100%;
  display: block;
  position: absolute;
  top: 64px;
}

.main-nav .site-list__link-active:active,
.main-nav .site-list__link-active:hover {
  color: @white;
}

@media (min-width: @tablet-width) {
  .main-nav__list--show {
    display: block;
    position: absolute;
    top: 110px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 621px;

    a {
      text-transform: none;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .main-nav__list {
    position: relative;
    justify-content: space-between;
    display: flex;
    padding-top: 44px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .main-nav__list--show {
    position: relative;
    display: none;
  }
}
